<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!--<add key="DALAssemblyName" value="DAL"/>-->
		
		<add key="DALAssemblyName" value="DAL"/>
		<add key="BLLAssemblyName" value="BLL"/>
	</appSettings>
	<connectionStrings>
		<add name="connString" connectionString="server=LAPTOP-ENH36EGQ\MSSQLSERVER2012;uid=sa;pwd=271016;database=MyDb"/>
		<add name="sqliteConnString" connectionString="Data Source=C:\Users\16025\Documents\Visual Studio Project\ThreeLayer\MyDb;Version=3;"/>
	</connectionStrings>
</configuration>